:root {
    --dark-color: #2E2F42;
    --main-color: #4D5AE5;
    --body-text-color: #434455;
    --subtle-text: #8E8F99;
    --light-color: #F4F4FD;
    --success-color: #31D0AA;
    --pressed-state: #404BBF;
    --accent-color: #E7E9FC;
    --hero-background: #2E2F42;
    --white-color: #FFFFFF;
    --modal-background: #FCFCFC;
}

a {
    text-decoration: none;
}

.body {
    color: var(--body-text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.03em;
}

.secondary-logo {
    color: var(--dark-color);
}

.logo-footer {
    color: var(--light-color);
}

.nav-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.nav-list:hover, 
.nav-list:focus {

}